<%- include('header') %>

<h1>Profile</h1>
<div>
    <p>name: <%= user.name %></p>
    <p>username: <%= user.username %></p>
    <p>phone: <%= user.phone %></p>
    <p>email: <%= user.email %></p>
    <p>address: <%= user.address %></p>
</div>
<br>
<a href="/">Back to Account Summary</a>

<%- include('footer') %>
